html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include mq-min($v-4k) {
        font-size: 85%;
    }
    @include mq-max($v-9) {
        font-size: 57.5%;
    }
    @include mq-max($v-8) {
        font-size: 55%;
    }
    @include mq-max($v-6) {
        font-size: 50%;
    }
    @include mq-max($v-3) {
        font-size: 47%;
    }
}
body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;

    line-height: 1.6;
    color: var(--font-primary);
    font-size: 1.6rem;
    overflow-x: hidden;
}
